[Desktop Entry]
Type=Application
Version=1.0
Name=ScanSnap Scan
Comment=Scan to Paperless or NAPS2 with the ScanSnap iX1300
Exec=scan-gui
Icon=scanner
Terminal=false
Categories=Utility;Scanning;
